#{$prefix}-plus-to-minus {
  span {
    $thickness: 2px;

    background-color: currentColor;
    display: none;
    height: $thickness;
    left: 0;
    top: calc(50% - #{$thickness / 2});
    transition-duration: $transition-duration;
    width: 100%;

    &:first-of-type,
    &:last-of-type {
      display: inline-block;
      transform-origin: center;
    }

    &:first-of-type {
      transform: rotateZ(180deg);
    }

    &:last-of-type {
      transform: rotateZ(270deg);
    }
  }

  & > input:checked ~ span,
  &.active > span {
    transform: none;
  }
}
